<ion-view title="Chat" id="chat">
  <ion-content class="padding">
  	<div id="chatter"> 
  	  	<blockquote>
	  		<header>monkey</header>
	  		<p>Sup wi' 'im. Ey up nah then shurrup is that thine how much.</p>
	  	</blockquote>
	  	<blockquote>
	  		<header>parrot</header>
	  		<p>Tha what soft lad tintintin. A pint 'o mild michael palin mardy bum bloomin' 'eck. Bloomin' 'eck mardy bum.</p>
	  	</blockquote>
	  	<blockquote>
	  		<header>goose</header>
	  		<p>Where's tha bin god's own county where there's muck there's brass mardy bum.</p>
	  	</blockquote>
	  	<blockquote>
	  		<header>goose</header>
	  		<p>Chuffin' nora. Gi' o'er tha what bloomin' 'eck aye big girl's blouse tintintin.</p>
	  	</blockquote>
	  	<blockquote>
	  		<header>crocodile</header>
	  		<p>Chuffin' nora. Gi' o'er tha what bloomin' 'eck aye big girl's blouse tintintin.</p>
	  	</blockquote>
	  	<blockquote>
	  		<header>gorilla</header>
	  		<p>Shurrup tha what aye any rooad gerritetten. Ne'ermind. Eeh tell thi summat for nowt tha daft apeth ah'll gi' thee a thick ear.</p>
	  	</blockquote>
	  	<blockquote>
	  		<header>gorilla</header>
	  		<p>Shurrup tha what aye any rooad gerritetten. Ne'ermind. Eeh tell thi summat for nowt tha daft apeth ah'll gi' thee a thick ear.</p>
	  	</blockquote>
	  	<blockquote>
	  		<header>gorilla</header>
	  		<p>Shurrup tha what aye any rooad gerritetten. Ne'ermind. Eeh tell thi summat for nowt tha daft apeth ah'll gi' thee a thick ear.</p>
	  	</blockquote>
	  	<blockquote>
	  		<header>gorilla</header>
	  		<p>Shurrup tha what aye any rooad gerritetten. Ne'ermind. Eeh tell thi summat for nowt tha daft apeth ah'll gi' thee a thick ear.</p>
	  	</blockquote>
	  </div>
  </ion-content>
  <div class="bar bar-footer" style="position: fixed; bottom: 3.6em;">
    <div class="item item-input" style="width: 100%">
      <input type="text" value="">
      <button class="button button-small">Send</button>
    </div>    
  </div>
  </div>
</ion-view>
